.player-card {
   display: flex;
   justify-content: center;
}
p,button{
    display: inline;

}
.specialP {
    font-size: 30px;
    position: relative;
    left: 18%;
    top: 5px;
}
.buttonBackground {
    background: transparent;
    border: none;
    font-size: 42px;
    position: relative;
    left: 5%;
}