.punish{
    -webkit-text-stroke: 1px black;
    color: #ffffff;
    font-size: 40px;
    font-family: "Comic Sans MS";
    font-style: italic;
    position: relative;
    top: 135px;
}
.punishResult{
    -webkit-text-stroke: 1px black;
    color: #00ecfb;
    font-size: 35px;
    font-style: italic;
    position: relative;
    top: 140px;
}
.punishText {
    position: absolute;
    top: 300px;
    left: 10px;
    font-size: 34px;
    font-style: italic;
    font-family: "Comic Sans MS";
    padding: 15px;
    -webkit-text-stroke: 1px black;
    color: white;
    border: 1px solid black;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #00000052;
    right: 9px;
}
.nextRoundButton{
    box-sizing: border-box;
    position: absolute;
    width: 185px;
    height: 60px;
    left: 115px;
    top: 800px;
    background: linear-gradient(45deg, #0047fb, #0e1538, #f60cf2);
    border: 2px solid black;
    border-radius: 15px;
    color: white;
    font-size: 19px;
}